<div id="agv2" class="d-none cl-text-primary" style="display:none;">
      {# State 01 / year #}
      <section id="age-gate-01" class="agv2__container black left-layer active" style="background:url('{{ background_1 }}') #dfc481" data-mob="{{ background_1_mob }}">
        <div class="agv2__wrapper">
          <header>
            <div class="agv2__brand">
              <img src="{{logo}}" alt="LOGO" title="LOGO">
            </div>
          </header>
          <div class="form-age">
            <div class="form-age__header">
              <p class="agv2__p bold">{{ description_year }}</p>
            </div>

            {# Year input #}
            <div class="form-age__content">
              <div class="year">
                  <input class="agv2__input" data-qadp="age_gate_year_1" data-type="input-year" data-next="year-02" data-element="year-01" type="tel" pattern="\d*" placeholder="A" maxlength="1">
                  <input class="agv2__input" data-qadp="age_gate_year_2" data-type="input-year" data-previous="year-01" data-next="year-03" data-element="year-02" type="tel" pattern="\d*" placeholder="A" maxlength="1">
                  <input class="agv2__input" data-qadp="age_gate_year_3" data-type="input-year" data-previous="year-02" data-next="year-04" data-element="year-03" type="tel" pattern="\d*" placeholder="A" maxlength="1">
                  <input class="agv2__input" data-qadp="age_gate_year_4" data-type="input-year" data-previous="year-03" data-element="year-04" type="tel" pattern="\d*" placeholder="A" maxlength="1">
              </div>
            </div>
            {# Year input #}

            {# load legal #}
            <div class="legal__load">
            </div>
            {# load legal #}

          </div>
        </div>
      </section>
      {# State 01 #}

      {# State 02 / month #}
      <section id="age-gate-02" class="agv2__container white right-layer" style="background-image:url('{{ background_2 }}')" data-mob="{{ background_1_mob }}">
        <div class="agv2__wrapper">
          <header>
            <div class="agv2__brand">
               <img src="{{logo}}" alt="LOGO" title="LOGO">
            </div>
          </header>
          <div class="form-age">
            <div class="form-age__header">
              <p class="agv2__p bold">{{ description_month }}.</p>
            </div>

            {# Year input #}
            <div class="form-age__content">
              <div class="year">
                  <input class="agv2__input" data-qadp="age_gate_month_1" data-type="input-month" data-next="month-02" data-element="month-01" type="tel" pattern="\d*" placeholder="M" maxlength="1">
                  <input class="agv2__input" data-qadp="age_gate_month_2" data-type="input-month" data-previous="month-01" data-element="month-02" type="tel" pattern="\d*" placeholder="M" maxlength="1">
              </div>

              {# back #}
              <div class="form-age__navigation">
                <div class="">
                  <a class="form-age__back" data-back="age-gate-01" data-hidde="age-gate-02" data-focus="year-01" empty-input="input-year" href="#">
                    <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1200 1200">
                    <g transform="translate(600 600) scale(-0.69 0.69) rotate(0) translate(-600 -600)">
                    <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" x="0px" y="0px" viewBox="0 0 100 100">
                    <g transform="translate(0,-952.36218)">
                    <path style="text-indent:0;text-transform:none;direction:ltr;block-progression:tb;baseline-shift:baseline;enable-background:accumulate;" d="m 71.20311,1002.3622 -2.84375,-3.28121 -31.99997,-37 -7.5625,6.5624 29.15622,33.71881 -29.15622,33.7188 7.5625,6.5624 31.99997,-37 2.84375,-3.2812 z" fill-opacity="1" stroke="none" marker="none" visibility="visible" display="inline" overflow="visible"></path>
                    </g>
                    </svg>
                    </g>
                    </svg>
                  </a>
                </div>
              </div>
              {# back #}

            </div>
            {# Year input #}

            {# load legal #}
            <div class="legal__load">
            </div>
            {# load legal #}



          </div>
        </div>
      </section>
      {# State 02 #}

      {# State 03 / day #}
      <section id="age-gate-03" class="agv2__container white right-layer" style="background-image:url('{{ background_3 }}')" data-mob="{{ background_1_mob }}">
        <div class="agv2__wrapper">
          <header>
            <div class="agv2__brand">
               <img src="{{logo}}" alt="LOGO" title="LOGO">
            </div>
          </header>
          <div class="form-age">
            <div class="form-age__header">
              <p class="agv2__p bold">{{ description_day }}</p>
            </div>

            {# Year input #}
            <div class="form-age__content">
              <div class="year">
                  <input class="agv2__input" data-qadp="age_gate_day_1" data-type="input-day" data-next="day-02" data-element="day-01" type="tel" pattern="\d*" placeholder="D" maxlength="1">
                  <input class="agv2__input" data-qadp="age_gate_day_2" data-type="input-day" data-previous="day-01" data-element="day-02" type="tel" pattern="\d*" placeholder="D" maxlength="1">
              </div>

              {# back #}
              <div class="form-age__navigation">
                <div class="">
                  <a class="form-age__back" data-back="age-gate-02" data-hidde="age-gate-03" empty-input="input-month" data-focus="month-01" href="#">
                    <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1200 1200">
                    <g transform="translate(600 600) scale(-0.69 0.69) rotate(0) translate(-600 -600)">
                    <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" x="0px" y="0px" viewBox="0 0 100 100">
                    <g transform="translate(0,-952.36218)">
                    <path style="text-indent:0;text-transform:none;direction:ltr;block-progression:tb;baseline-shift:baseline;enable-background:accumulate;" d="m 71.20311,1002.3622 -2.84375,-3.28121 -31.99997,-37 -7.5625,6.5624 29.15622,33.71881 -29.15622,33.7188 7.5625,6.5624 31.99997,-37 2.84375,-3.2812 z" fill-opacity="1" stroke="none" marker="none" visibility="visible" display="inline" overflow="visible"></path>
                    </g>
                    </svg>
                    </g>
                    </svg>
                  </a>
                </div>
              </div>
              {# back #}

            </div>
            {# Year input #}

             {# load legal #}
            <div class="legal__load">
            </div>
            {# load legal #}




          </div>
        </div>
      </section>
      {# State 03 #}
            {# legales #}
             <div class="agegate-legal">
                <div class="agegate-legal__row">

                    <label class="agv2__checkbox">
                      <span class="checkbox__input">
                        <input type="checkbox" name="checkbox" data-element="remember-date">
                        <span class="checkbox__control">
                          <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                            <path fill='none' stroke='currentColor' stroke-width='3' d='M1.73 12.91l6.37 6.37L22.79 4.59' /></svg>
                        </span>
                      </span>
                      <span class="agv2__label">Recordar mis datos</span>
                    </label>

                </div>
                <div class="agegate-legal__row">

                  <p class="agv2__p small">
                    *No selecciones esta opción si compartes este computador con menores de edad.
                    <br/>
                    <br/>
                    Este sitio web utiliza cookies que se quedarán almacenadas en el computador con el fin de mejorar su experiencia. Al proporcionar su fecha de nacimiento, también se acepta el uso de cookies. Más información haga
                    <a class="" href="#">clic aquí.</a>
                  </p>
                  <div class="agegate__btns">
                    <a class="agegate__btn main" data-qadp="button_enter_agegate" data-element="ageValidate" href="#">Entrar</a>
                  </div>
                </div>
            </div>
            {# legales #}
</div>

{# example #}
<div class="agv2-animate" style="display: none">
  <div class="top-layer"></div>
  <div class="top-layer top-layer--2"></div>
  <div class="top-layer top-layer--3"></div>
  <div class="top-layer top-layer--4"></div>
  <div class="top-layer top-layer--5"></div>
  <div class="bottom-layer"></div>
  <div class="bottom-layer bottom-layer--2"></div>
  <div class="bottom-layer bottom-layer--3"></div>
  <div class="left-layer"></div>
  <div class="left-layer left-layer--2"></div>
  <div class="left-layer left-layer--3"></div>
  <div class="left-layer left-layer--4"></div>
  <div class="right-layer"></div>
  <div class="right-layer right-layer--2"></div>
  <div class="right-layer right-layer--3"></div>
  <div class="buttons">
    <button id="top"><img src="https://icongr.am/feather/arrow-down.svg" alt="arrow-down" title="arrow-down"></button>
    <button id="bottom"><img src="https://icongr.am/feather/arrow-up.svg" alt="arrow-up" title="arrow-up"></button>
    <button id="left"><img src="https://icongr.am/feather/arrow-right.svg" alt="arrow-right" title="arrow-right"></button>
    <button id="right"><img src="https://icongr.am/feather/arrow-left.svg" alt="arrow-left" title="arrow-left"></button>
  </div>
</div>


<script type="text/javascript">

const buttons = document.getElementsByTagName("button");

for (const button of buttons) {
  button.addEventListener('click', () => {
     var id = button.getAttribute("id");

     var layerClass = "." + id+ "-layer";
     var layers = document.querySelectorAll(layerClass);
     for (const layer of layers) {
       layer.classList.toggle("active");
     }
  });
}

</script>
